.bg-primarycolor {
  background-color: #0227a6;
}

.sidebar .nav li:first-child > router-link {
  margin: 0 15px;
}

.sidebar .nav li router-link,
.sidebar .nav li .dropdown-menu router-link {
  margin: 10px 15px 0;
  border-radius: 3px;
  color: #3C4858;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
}

router-link {
  color: #9c27b0;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.router-link-exact-active {
  background-color: #0227a6;
  color: #fff !important;
}

.modal-header {
  background-color: #0227a6;
  color: #fff !important;
}

.modal-footer {
  background-color: #0227a6;
  color: #fff !important;
}

